<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IProductDAO">
    <select id="query" parameterType="vo.Product" resultType="vo.Product">
        select * from tproduct
        <where>
            <if test="barCode!=null">
                barCode=#{barCode}
            </if>
            <if test="productName!=null">
                AND productName like '%${productName}%'
            </if>
            <if test="supply!=null">
                and supply like '%${supply}%'
            </if>
        </where>
    </select>

    <insert id="addProduct" parameterType="vo.Product">
        insert into tproduct(barCode,productName,price,supply) values (#{barCode},#{productName},#{price},#{supply})
    </insert>

    <delete id="delete">
        delete from tproduct
        <where>
            <if test="barCode!=null">
                and barCode=#{barCode}
            </if>
        </where>
    </delete>
</mapper>